@use "../../layout/nav" as *;
// @use "../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

html {
  scroll-behavior: smooth;
}

// adjust height for the fixed nav excpet for signup and login
// cause they don't have nav bar attached to them
body:not([data-page="signup"], [data-page="otp"], [data-page="login"]) {
  height: 100vh;
  padding-top: $nav-height !important;
  overflow-y: auto;

  @include mobile {
    padding-top: 67px !important;
  }
}

// styles here applies to all pages
// nav its included since its a partial
body {
  &:is(button, input, textarea) {
    &:focus {
      outline: none !important;
    }

    // mobile-specific styles to remove tap highlight
    @include mobile {
      // &:hover,
      // &:active {
      //
      &:hover {
        -webkit-tap-highlight-color: transparent !important;
        background-color: transparent !important;
        outline: none !important;
      }

      // Target Safari-specific styling
      @supports (-webkit-touch-callout: none) {
        &:hover {
          -webkit-tap-highlight-color: transparent !important;
          background-color: transparent !important;
          outline: none !important;
        }
      }
    }
  }
}

// body[data-page="profile"],
// body[data-page="home"]{
//
//
//
// }

//mixin for skeleton screen before load
@mixin page-loader($page, $components...) {
  body[data-page="#{$page}"]:not(.loaded) {
    @each $component in $components {
      #{$component}::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          90deg,
          var(--neutral) 25%,
          var(--primary) 50%,
          var(--neutral) 75%
        );
        background-size: 200% 100%;
        animation: shimmer 1.5s infinite linear;
        z-index: 10;
      }
    }
  }

  body[data-page="#{$page}"].loaded {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;

    @each $component in $components {
      #{$component}::after {
        display: none;
      }
    }
  }

  @keyframes shimmer {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
}

@include page-loader("signup", "form");
@include page-loader("login", "form");
@include page-loader("home", ".card");

.skeleton {
  animation: shimmer-1 1.5s infinite linear;
  // background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  border-radius: inherit;
  background: linear-gradient(
    90deg,
    var(--neutral) 25%,
    var(--primary) 50%,
    var(--neutral) 75%
  );
  display: block;
  background-size: 200% 100%;
  width: 100%;
  height: 100%;
}

@keyframes shimmer-1 {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
