@use "../abstracts/mixins" as *;

// INFO: SHARED STYLES OF SIGNUP AND LOGIN.
// specific customization of each at the bottom

body[data-page="login"],
body[data-page="signup"] {
  height: 100vh;
  display: flex;
  // align-items: center;
  justify-content: flex-start !important;

  @include mobile {
    height: 100dvh !important;
  }

  @include xl {
    display: grid;
    grid-template-columns: 1.5fr 1fr;

    .auth-mobile-header {
      display: none;
    }
  }

  // .overlay {
  //   position: absolute;
  //   inset: 0;
  //   z-index: -1;
  //   img {
  //     height: 100%;
  //     width: 100%;
  //   }
  //   // filter: blur(18px);
  // }

  #login-form h4,
  #signup-form h4 {
    margin-bottom: 60px;
  }

  .auth-wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // border: 1px solid rgb(255, 255, 255, 0.6);
  }

  $bar-width: 500px;

  form {
    // border: 1px solid rgb(255, 255, 255, 0.6);
    height: auto;
    padding: 24px 0;
    width: min(850px, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin: 0 auto;
    // background: transparent;
    backdrop-filter: blur(10px);

    h1 {
      text-align: center;
      margin-bottom: -5px;

      @include xl {
        font-size: 3em;
      }
    }

    .input-box:first-of-type {
      margin-top: 25px !important;
    }

    .input-box {
      position: relative;
      // border: 1px solid white;
      border-bottom: 1px solid rgb(255, 255, 255, 0.6);
      [data-theme="light"] {
        border-bottom: black !important;
      }
      width: min(90%, $bar-width);
      // margin: 25px 0;

      // @include mobile {
      margin: 38px 0 25px 0 !important;
      // }

      label {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        transition: all 0.2s ease-in-out;
      }

      input {
        width: 100%;
        border: 0;
        padding: 0 36px 0 5px;
        color: white;
        height: 50px;
        font-size: 1em;
        outline: none;
        background-color: transparent;
        // border: 1px solid black;

        // NOTE:
        // label must be below input in html
        // for this (sibling selector) to work
        // INFO: below line means adjust the label as if there's a value in the input meaning placeholder is not shown.
        // NOTE: input must have placeholder attr even if its empty for this to work
        @include lg {
          &:focus ~ label {
            // &:focus ~ label {
            top: -5px;
          }
        }

        @include mobile {
          // &:focus ~ label,
          // &:not(:placeholder-shown) ~ label {

          &:focus ~ label {
            top: -5px;
          }
        }
      }

      .visib-pass-btn {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);

        .visib-on {
          display: none;
        }

        &.active {
          .visib-on {
            display: block;
          }

          .visib-off {
            display: none;
          }
        }
      }
    }

    button.submit {
      width: min(90%, $bar-width);
      margin: 20px 0;
    }

    .error,// this one's for login too lazy to change it
    .signup-error-msg {
      color: red;
      margin-top: -16px;
    }
  }

  .auth-filler-bg {
    display: none;

    @include xl {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    // place-items: center;
    // border: 1px solid white;

    h1 {
      display: block;
    }
  }
}

body[data-page="signup"] {
  // justify-content: flex-start;
  // .signup-link,.login-link{
  //   color: black;
  // }

  @include xl {
    form {
      height: 700px;
    }
  }
}

body[data-page="login"] {
  grid-template-columns: 1fr 1.5fr;
  // .login-left {
  // }

  @include xl {
    form {
      height: 500px;
    }
  }
}
