@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../layout/nav" as *;

body[data-page="budget-alloc"] {
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
  }

  @include mobile {
    min-height: 100dvh !important;
  }

  @include max-bp("489px") {
    table {
      font-size: 14px;
    }
  }
  table {
    width: min(90%, 1400px);
    border-collapse: separate;
    border-spacing: 12px;
    // border: none;
    padding: 24px;
  }

  th,
  td {
    border: 1px solid var(--foreground);
    // border: 1px solid var(--accent);
    border-radius: 10px;
    // border-radius: 5px;
    text-align: center;
    padding: 8px;
  }
}
