@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../layout/nav" as *;

body[data-page="budget-alloc"] {
  @include mobile {
    min-height: 100dvh !important;
  }

  table {
    width: min(90%, 1400px);
  }

  th,
  td {
    text-align: center;
    padding: 8px;
  }
}
