@use "../abstracts/mixins" as *;
@use "../layout/nav" as *;

body[data-page="concerns"] {
  main {
    // height: calc(100vh - $nav-height);
    margin-bottom: 220px !important;
    // border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

    .submit-concern-container {
      width: min(90%, 800px);

      .view-concerns {
        background-color: transparent;
        color: var(--foreground);
        @include xxl {
          display: none;
        }
      }

      form {
        .form-header {
        }

        .form-body {
          textarea {
            outline: none;

            padding: 8px;
            resize: none;
          }
        }

        .form-footer {
        }
      }
    }

    .concerns-aside-box {
      display: none;
    }
  }

  .concern-popup-overlay {
    display: none;
    position: fixed;
    inset: 0;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9998;
    place-items: center;

    &.open {
      display: grid;
    }

    &.close {
      display: none;
    }
  }

  .concerns-box {
    // &.popup {
    //   margin-top: 50px;
    // }
    width: min(100%, 800px);
    height: 600px;

    .concern-popup-header {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      .close-concern-popup-btn {
        margin-left: auto;
      }
    }

    .concern-popup-controls {
      .concern-status {
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.45rem;
        width: 100%;
        // border: 1px solid white;
        // margin-left: 0.5rem;
        // margin-right: 0.5rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        cursor: pointer;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: -1.498px;
          // left: 50%;
          // transform: translateX(-50%);
          height: 4px;
          width: 100%;
          // border-bottom: 1px solid var(--accent);
          // width: 80px;
          opacity: 0;
          transition: opacity 0.2s ease;
        }

        &.selected::before {
          opacity: 1;
        }

        p {
          margin-top: 2.5px;
        }

        span {
          display: inline-block;
          width: 12px;
          height: 12px;
          border-radius: 50%;
        }
      }
    }
  }
}

body[data-page="concerns"] {
  @include xxl {
    .concern-popup-overlay {
      display: none;
    }

    main {
      gap: 120px;

      .submit-concern-container {
        padding-left: 24px;
        flex: 0 1 700px;
      }

      .concerns-aside-box {
        padding-right: 24px;
        // border: 1px solid white;
        flex: 0 1 800px;
        display: block !important;
      }

      .submit-concern-container > form {
        // margin-inline: auto;
        // width: 500px;

        textarea {
          height: 280px;
        }
      }
    }
  }
}
