@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
// @use "../layout/nav" as *;

body[data-page="council"] {
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
  }

  .council-slideshow-container {
    width: min(95%, 450px);
    position: relative;
    margin: auto;

    /* hide the images by default */
    .slides-sm,
    .slides-lg {
      display: none;

      img {
        height: 500px;
        // margin: 0 auto;
        border-radius: 20px;
      }
    }

    .slides-lg {
      justify-content: start !important;
      img {
        max-width: 33%;
      }
    }

    /* next & previous buttons */
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      // left: 0px;
      transform: translateY(-50%);
      width: auto;
      // margin-top: -22px;
      padding: 16px;
      color: var(--foreground);
      font-weight: bold;
      font-size: 24px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;

      &:hover {
        color: var(--accent);
      }
    }
    .prev {
      left: -20px;
    }
    .next {
      right: -20px;
    }

    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      margin-top: 15px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active {
      background-color: var(--accent);
    }

    .dot:hover {
      background-color: #717171;
    }

    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @keyframes fade {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    }
  }

  @include xl {
    .prev {
      left: -40px !important;
    }

    .next {
      right: -40px !important;
    }
  }

  @include xxl {
    .council-slideshow-container {
      width: min(95%, 1400px);
    }

    .council-slideshow-container-sm-screens {
      display: none !important;
    }
    .council-slideshow-container-lg-screens {
      display: block !important;
    }
  }

  // COUNCIL PAGE CONTAINER //

  // .council-page-container {
  //   padding: 0 24px;
  //   // border: 1px solid blue;
  //   display: flex;
  //   flex-direction: column;
  //   gap: 20px;
  // }
  //
  // .image-list-container {
  //   align-items: center;
  //   display: inline-flex;
  //   margin-inline: auto;
  //   flex-direction: column;
  //   gap: 30px;
  //   height: 420px;
  //   overflow-y: auto;
  //   // border: 1px solid red;
  //   padding: 32px 24px;
  // }
  //
  // button.delete {
  //   position: absolute;
  //   left: -12px;
  //   top: -12px;
  // }
  //
  // @include lg {
  //   .council-page-container {
  //   }
  //
  //   .image-list-container {
  //     height: auto;
  //     overflow-y: initial;
  //     display: grid;
  //     margin-inline: initial;
  //
  //     grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  //     place-items: center;
  //   }
  // }
}
