@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../layout/nav" as *;
// @use "sass:math";

// html,
// body {
//   height: 100%;
// }

body[data-page="profile"] {
  display: flex;
  flex-direction: column;

  @include xxl {
    .show-sidebar-container {
      z-index: 10;
      position: fixed;
      background-color: var(--neutral);
      width: 65px;
      height: 100vh;
      top: $nav-height;
    }
    //   display: grid;
    //   grid-template-areas:
    //     "show-sidebar main"
    //     "footer footer";
    //   grid-template-rows: 1fr auto;
    //   grid-template-columns: 65px 1fr;
    //
    //   .show-sidebar-container {
    //     background-color: var(--neutral) !important;
    //   }
    //
    //   footer {
    //     grid-area: footer;
    //   }
    //
    // min-height: calc(100vh - $nav-height);
  }

  &:is(button, input):focus {
    outline: none !important;
  }

  #data-container {
    flex: 1;
    padding-bottom: 20px;

    @include mobile {
      height: 100dvh !important;
    }
  }

  .profile-container {
    // height: calc(100vh - #{$nav-height}) !important;
    width: min(100%, 1400px);

    .lower-container,
    .upper-container {
      width: 100%;
      // width: min(100%, 1400px);
    }
  }
}

//
// SIDEBAR TOGGLE/EVENTS STYLES
//

$sidebar-width: min(350px, 80%);

#sidebar {
  width: $sidebar-width;
  height: calc(100dvh - #{$nav-height});
  position: fixed;
  top: $nav-height;
  // hide sidebar to the left using
  // it's own size's negative value
  left: calc(-1 * #{$sidebar-width});
  transition: left 0.3s ease;
  overflow: hidden auto; // x, y
  z-index: 9997;
  padding-top: 20px;

  .sidebar-btn-hide-sidebar {
    // border: 1px solid white;
    width: auto !important;
    // @include mobile {
    //   &:hover {
    //     -webkit-tap-highlight-color: transparent !important;
    //     background-color: transparent !important;
    //   }
    // }
  }
}

@include xs {
  // yeah this needs root level
  html[data-page="profile"] {
    // initially hidden cause putting it
    // inside &.active-sidebar resets the scroll
    // bar position (cause overflow will be toggled too)
    overflow: hidden;

    body {
      position: relative;
      overflow-x: hidden;

      &::after {
        content: "";
        position: fixed;
        inset: 0;
        z-index: 90;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
      }

      #data-container {
        transition: transform 0.3s ease;
        transform: translateX(0);
        // border: 1px solid blue;
      }
    }

    &.active-sidebar {
      body {
        overflow: hidden; // disable scrolling if sidebar is open

        &::after {
          content: "";
          opacity: 1;
          pointer-events: auto;
        }
        #sidebar {
          left: 0;
        }

        #data-container {
          transform: translateX($sidebar-width);
        }
      }
    }
  }
}

@include md {
  html[data-page="profile"] {
    overflow: auto !important;

    &.active-sidebar {
      body {
        // allow y scrolling
        overflow: hidden auto !important;

        &::after {
          display: none; // removes it from rendering
        }
      }
    }
  }
}

@include min-bp("1359px") {
  #data-container {
    // border: 1px solid white;

    width: 100%;
    transition:
      width 0.3s ease,
      transform 0.3s ease !important;
  }

  html[data-page="profile"] {
    // overflow: auto !important;

    &.active-sidebar {
      #data-container {
        width: calc(100% - #{$sidebar-width}) !important;
      }
    }
  }
}

//
// PURELY SIDEBAR STYLES NOT RELATED TO TOGGLING LOGIC
//

#sidebar {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  ul > li:first-child {
    margin-top: 12px;
  }

  li > button {
    // border: 1px solid white;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 5px;
    padding: 6px;
  }

  .sidebar-items {
    width: 100%;
    margin-bottom: 4px;
  }

  .hide-sidebar-wrapper {
    .sidebar-btn-hide-sidebar {
      margin-bottom: 18px;

      .sidebar-shrink-icon {
        transform: rotate(180deg);
      }
    }
  }
}

// DYNAMIC ELEMENTS FROM DATABASE

// TODO: adjust this =>
//           background-color: var(--neutral-dark-1);
//   then put the bgc into -theme

body[data-page="profile"] {
  // PROJECTS AND EVENTS
}
