@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../layout/nav" as *;
// @use "sass:math";

body[data-page="profile"] {
  &:is(button, input):focus {
    outline: none !important;
  }
  // @include mobile {
  //   height: 100dvh !important;
  //   // padding-top: $nav-height !important;
  // }
  #data-container {
    // border: 1px solid white;
    // width: 100%;
    min-height: 800px; // for stability when clearing

    // becuase of this the direct child of the
    // contianer needs to be another sort of
    // wrapper container
    // > * {
    //   max-width: 1450px;
    // }
  }

  .profile-container {
    height: calc(100vh - #{$nav-height}) !important;
    width: min(100%, 1400px);

    .lower-container,
    .upper-container {
      width: 100%;
      // width: min(100%, 1400px);
    }
  }
}

//
// SIDEBAR TOGGLE/EVENTS STYLES
//

$sidebar-width: min(350px, 80%);

#sidebar {
  width: $sidebar-width;
  height: calc(100dvh - #{$nav-height});
  position: fixed;
  top: $nav-height;
  // hide sidebar to the left using
  // it's own size's negative value
  left: calc(-1 * #{$sidebar-width});
  transition: left 0.3s ease;
  overflow: hidden auto; // x, y
  z-index: 9998;
  padding-top: 20px;

  .sidebar-btn-hide-sidebar {
    // border: 1px solid white;
    width: auto !important;
    // @include mobile {
    //   &:hover {
    //     -webkit-tap-highlight-color: transparent !important;
    //     background-color: transparent !important;
    //   }
    // }
  }
}

@include xs {
  // yeah this needs root level
  html[data-page="profile"] {
    // initially hidden cause putting it
    // inside &.active-sidebar resets the scroll
    // bar position (cause overflow will be toggled too)
    overflow: hidden;

    body {
      position: relative;
      overflow-x: hidden;

      &::after {
        content: "";
        position: fixed;
        inset: 0;
        z-index: 90;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
      }

      #data-container {
        transition: transform 0.3s ease;
        transform: translateX(0);
        // border: 1px solid blue;
      }
    }

    &.active-sidebar {
      body {
        overflow: hidden; // disable scrolling if sidebar is open

        &::after {
          content: "";
          opacity: 1;
          pointer-events: auto;
        }
        #sidebar {
          left: 0;
        }

        #data-container {
          transform: translateX($sidebar-width);
        }
      }
    }
  }
}

@include md {
  html[data-page="profile"] {
    overflow: auto !important;

    &.active-sidebar {
      body {
        // allow y scrolling
        overflow: hidden auto !important;

        &::after {
          display: none; // removes it from rendering
        }
      }
    }
  }
}

@include min-bp("1359px") {
  #data-container {
    // border: 1px solid white;

    width: 100%;
    transition:
      width 0.3s ease,
      transform 0.3s ease !important;
  }

  html[data-page="profile"] {
    // overflow: auto !important;

    &.active-sidebar {
      #data-container {
        width: calc(100% - #{$sidebar-width}) !important;
      }
    }
  }
}

//
// PURELY SIDEBAR STYLES NOT RELATED TO TOGGLING LOGIC
//

#sidebar {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  ul > li:first-child {
    margin-top: 12px;
  }

  li > button {
    // border: 1px solid white;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 5px;
    padding: 6px;
  }

  .sidebar-items {
    width: 100%;
    margin-bottom: 4px;
  }

  .hide-sidebar-wrapper {
    .sidebar-btn-hide-sidebar {
      margin-bottom: 18px;

      .sidebar-shrink-icon {
        transform: rotate(180deg);
      }
    }
  }
}

// DYNAMIC ELEMENTS FROM DATABASE

// TODO: adjust this =>
//           background-color: var(--neutral-dark-1);
//   then put the bgc into -theme

body[data-page="profile"] {
  .user-table {
    height: auto;
    border-collapse: collapse;
    margin-inline: auto;
    width: min(100%, 1000px);
    table-layout: fixed;

    thead {
      // border-bottom: 2px solid #ccc;

      tr {
        text-align: left;
      }

      th {
        padding: 12px 15px;
        font-weight: bold;
        border: 3px solid white;
      }
    }

    tbody {
      tr {
        // border: 1px solid #ccc;

        td {
          padding: 12px 15px;
          border: 1px solid white;
        }
      }
    }
  }

  // SLIDESHOWS (THIS IS A SLIGHTLY DIFF VER FROM THE
  // SLIDESHOWS IN HOMEPAGE)

  .projects-and-events-container > * {
    // border: 1px solid white;
    margin-inline: auto;
  }

  .slideshows-control-container {
    // border: 1px solid white;
    border-radius: 20px;
    max-width: 1400px;
    padding: 24px;
    margin-bottom: 40px;
    display: flex;
    justify-content: end;

    .control-btn-container {
      display: flex;
      gap: 15px;
    }

    button {
      width: 100px;
    }
  }

  %titles {
    padding-bottom: 5px;
    font-weight: bold;
  }

  .slideshow-container {
    padding: 24px;
    width: 100%;
    max-width: 1400px;
    border-radius: 20px;
    // border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 30px;
    align-items: center;
    justify-content: center;
    // gap: 60px;

    .slideshow {
      // overflow: hidde;
      // border: 1px solid white;

      .caption {
        @extend %titles;
        padding-left: 7px;
        position: absolute;
        bottom: 6%;
        left: 50%;
        transform: translateX(-50%);
        color: var(--primary);

        // @include xs {
        //   font-size: $font-size-xs;
        // }

        @include xl {
          font-size: $font-size-md;
          text-align: center;
        }
      }

      .slides-container {
        // border: 1px solid white;
        position: relative;

        .slides {
          display: none;

          img {
            border: 20px solid white !important;
            border-bottom: 45px solid white !important;
            border-radius: 5px;
          }
        }

        .prev,
        .next {
          cursor: pointer;
          position: absolute;
          color: black;
          bottom: 10px;
          // transform: translateY(-50%);
          width: auto;
          margin-top: -22px;
          padding: 16px;
          font-weight: bold;
          font-size: 20px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;

          &:hover {
            border-radius: 8px;
            opacity: 0.8;
            background-color: var(--accent);
          }
        }

        .next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }
      }
    }

    /* Number text (1/3 etc) */
    // .numbertext {
    //   color: black;
    //   font-size: 14px;
    //   font-family: "Playfair Display", serif;
    //   font-weight: bold;
    //   padding: 8px 12px;
    //   position: absolute;
    //   top: 0;
    // }

    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;

      &.active {
        background-color: var(--accent);
      }

      &:hover {
        background-color: #717171;
      }
    }

    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @keyframes fade {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    }
  }
}
