@use "../abstracts/mixins" as *;

body.signup-page {
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 40px;

  @include xl {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .signup-wrapper {
    position: relative;
    // border: 1px solid rgb(255, 255, 255, 0.6);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  form {
    height: 760px;
    width: min(550px, 100%);
    border: 1px solid rgb(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin: 0 auto;
    background: transparent;
    backdrop-filter: blur(10px);

    h1 {
      text-align: center;

      @include xl {
        font-size: 3em;
      }
    }

    .input-box {
      position: relative;
      // border-bottom: 1px solid white;
      border-bottom: 1px solid rgb(255, 255, 255, 0.6);
      width: min(90%, 350px);
      margin: 25px 0;

      label {
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
      }

      input {
        width: 100%;
        border: 0;
        // border: 1px solid rgb(255, 255, 255, 0.6);
        padding: 0 36px 0 5px;
        color: white;
        height: 50px;
        font-size: 1em;
        outline: none;
        background-color: transparent;

        // NOTE:
        // label must be below input in html
        // for this (sibling selector) to work
        &:focus ~ label,
        // INFO: below line means adjust the label as if there's a value in the input meaning placeholder is not shown.
        // NOTE: input must have placeholder attr even if its empty for this to work
        &:not(:placeholder-shown) ~ label {
          top: -5px;
        }
      }

      .visib-pass-btn {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);

        .visib-on {
          display: none;
        }

        &.active {
          .visib-on {
            display: block;
          }

          .visib-off {
            display: none;
          }
        }
      }
    }

    button.submit {
      width: min(90%, 350px);
      margin: 20px 0;
    }

    .login-link {
      span {
        white-space: nowrap;
      }
    }

    .signup-error-msg {
      color: red;
      margin-top: -16px;
    }
  }

  .right {
    display: none;

    @include xl {
      height: 100vh;
      display: block;
    }
  }
}
