{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": [
        "*.html",
        "*.ejs",
        "*.pug"
      ],
      "options": {
        "tabWidth": 4
      }
    }
  ],
  "plugins": [
    "prettier-plugin-ejs"
  ],
  "embeddedLanguageFormatting": "auto"
}
