{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": [
        "*.html"
      ],
      "options": {
        "tabWidth": 4
      }
    }
  ],
  "embeddedLanguageFormatting": "auto"
}
