<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body class="h-100vh dp-f ai-c jc-c">
        <div class="br-20 h-60 w-70 jc-c ta-c dp-f fd-c 404-container">
            <h1 class="mb-n3 fs-vixl">404</h1>
            <h2 class="404-msg">Ooops! Looks like you're lost.</h2>
            <a class="text-white" href="/home">Go Back</a>
        </div>

        <script type="module" src="app.bundle.js"></script>
    </body>
</html>
