<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <!--HEAD-->
    <%- include('./partials/head.ejs') %>
    <body data-page="budget-alloc">
        <%- include('./partials/nav.ejs') %>

        <header class="">
            <h1 class="fs-2-xs fs-3-lg mt-2 ta-c container gradient-text">
                Annual Budget Youth Invesment Plan 2025 Itemization
            </h1>
        </header>

        <div class="popup"></div>

        <main class="mt-2 mb-4">
            <div class="container table-container dp-f jc-c">
                <!-- dynamic content here -->
            </div>
        </main>

        <!--FOOTER-->
        <%- include('./partials/footer.ejs') %>

        <script defer type="module" src="app.bundle.js"></script>
        <script defer type="module" src="nav.bundle.js"></script>
        <script defer type="module" src="budgetAllocation.bundle.js"></script>
    </body>
</html>
