<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <!--HEAD-->
    <%- include('./partials/head.ejs') %>
    <body data-page="budget-alloc">
        <%- include('./partials/nav.ejs') %>

        <header class="">
            <h1 class="fs-2-xs fs-3-lg mt-4 ta-c container gradient-text">
                Annual Budget Youth Invesment Plan 2025 Itemization
            </h1>
        </header>

        <div class="popup"></div>

        <main class="mt-4 mb-4">
            <div class="container table-container dp-f jc-c">
                <!-- dynamic content here -->
            </div>
        </main>

        <!--FOOTER-->
        <%- include('./partials/footer.ejs') %>

        <script defer type="module" src="app.bundle.js"></script>
        <script defer type="module" src="nav.bundle.js"></script>
        <script defer type="module" src="budgetAllocation.bundle.js"></script>
    </body>
</html>

<!-- <table border="1" cellspacing="0"> -->
<!--     <thead> -->
<!--         <tr> -->
<!--             <th style="width=">Category</th> -->
<!--             <th class="" style="width: 20%">Amount (₱)</th> -->
<!--             <th style="width=">Description / Details</th> -->
<!--         </tr> -->
<!--     </thead> -->
<!--     <tbody> -->
<!--         <tr> -->
<!--             <td>Expenditures</td> -->
<!--             <td>72,000</td> -->
<!--             <td> -->
<!--                 SK Kagawad, SK Treasurer, SK Secretary -->
<!--                 (Honoraria) -->
<!--             </td> -->
<!--         </tr> -->
<!--         <tr> -->
<!--             <td>Contributions & Dues</td> -->
<!--             <td>4,000</td> -->
<!--             <td>SK Federation (Annual Dues)</td> -->
<!--         </tr> -->
<!--         <tr> -->
<!--             <td>Trainings & Development</td> -->
<!--             <td>40,000</td> -->
<!--             <td> -->
<!--                 SK Chairperson Training/Seminar (Leadership -->
<!--                 Development) -->
<!--             </td> -->
<!--         </tr> -->
<!--         <tr> -->
<!--             <td>Advocacy Campaigns</td> -->
<!--             <td>10,000</td> -->
<!--             <td>Anti-Drug Campaign (Tarpaulin)</td> -->
<!--         </tr> -->
<!--         <tr> -->
<!--             <td>Security & Compliance</td> -->
<!--             <td>5,000</td> -->
<!--             <td>Bonding (Fidelity Bond)</td> -->
<!--         </tr> -->
<!--         <tr> -->
<!--             <td>Office Needs</td> -->
<!--             <td>70,000</td> -->
<!--             <td>Airconditioner, Computer Table, Printer</td> -->
<!--         </tr> -->
<!--         <tr> -->
<!--             <td>Youth Events</td> -->
<!--             <td>10,000</td> -->
<!--             <td> -->
<!--                 Food, Prizes, Equipment, Shirt (Lingo ng -->
<!--                 Kabataan) -->
<!--             </td> -->
<!--         </tr> -->
<!--         <tr> -->
<!--             <td>Educational Materials</td> -->
<!--             <td>70,000</td> -->
<!--             <td> -->
<!--                 Notebook, Pen, Whiteboard, Marker, Crayons, -->
<!--                 Scissor, Glue -->
<!--             </td> -->
<!--         </tr> -->
<!--         <tr> -->
<!--             <td>Sports & Recreation</td> -->
<!--             <td>40,000</td> -->
<!--             <td> -->
<!--                 Basketball, Volleyball, Dart Board, Chess, -->
<!--                 Badminton, etc. -->
<!--             </td> -->
<!--         </tr> -->
<!--         <tr> -->
<!--             <td><strong>Total Budget</strong></td> -->
<!--             <td><strong>321,000</strong></td> -->
<!--             <td><strong>SK Budget for CY 2025</strong></td> -->
<!--         </tr> -->
<!--     </tbody> -->
<!-- </table> -->
