<!DOCTYPE html>
<html lang="en" data-page="profile" data-theme="dark" class="">
    <!--HEAD-->
    <%- include('./partials/head.ejs') %>
    <body class="" data-page="events">
        <%- include('./partials/nav.ejs')%>

        <header class="header mt-4">
            <h1 class="fs-2-xs fs-3-lg ta-c w-100 gradient-text">
                SK Council: Projects and Events
            </h1>
        </header>

        <main class="events pb-4 mt-4">
            <div class="slideshow-container"></div>
        </main>

        <!--FOOTER-->
        <%- include('./partials/footer.ejs') %>

        <script type="module" src="app.bundle.js"></script>
        <script type="module" src="nav.bundle.js"></script>
        <script defer type="module" src="projectsAndEvents.bundle.js"></script>
    </body>
</html>
