<!DOCTYPE html>
<html lang="en" data-theme="">
    <!--HEAD-->
    <%- include('./partials/head.ejs') %>
    <body class="home-page">
        <!--<h1>My Page Title</h1>-->
        <%- include('./partials/nav.ejs') %>
        <div class="hero">Welcome To HomePage</div>

        <!--FOOTER-->
        <%- include('./partials/footer.ejs') %>

        <script type="module" src="app.bundle.js"></script>
    </body>
</html>
