<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <!--HEAD-->
    <%- include('./partials/head.ejs') %>
    <body data-page="home">
        <%- include('./partials/nav.ejs') %>

        <a href="/budget-allocation"></a>

        <!--<header class="container">-->
        <!--    <div class="dp-f jc-sb pl-1 pr-1 mt-4 mb-1 hero-left">-->
        <!--        <img width="75px" src="sk-data/sk.svg" alt="" />-->
        <!--        <img-->
        <!--            class="br-full"-->
        <!--            width="75px"-->
        <!--            src="sk-data/sk1.svg"-->
        <!--            alt=""-->
        <!--        />-->
        <!--    </div>-->
        <!---->
        <!--    <div class="hero-middle ta-c">-->
        <!--        <p>Republic of the Philippines</p>-->
        <!--        <p>DISTRICT VI, CITY OF MANILA</p>-->
        <!--        <p>BARANGAY 633 – ZONE 64</p>-->
        <!--        <p>OFFICE OF THE SANGGUNIANG KABATAAN</p>-->
        <!--        <p>Quintina Street, Sta Mesa, Manila 1016</p>-->
        <!--        <!--<p>Cell # 09617122859</p>-->
        <!--    </div>-->
        <!---->
        <!--    <div class="hero-right"></div>-->
        <!--</header>-->

        <!--FOOTER-->
        <%- include('./partials/footer.ejs') %>

        <script type="module" src="app.bundle.js"></script>
        <script type="module" src="nav.bundle.js"></script>
        <script type="module" src="home.bundle.js"></script>
    </body>
</html>
