@use "sass:map";
@use "variables" as *;

// media's

@mixin xs {
  @media (min-width: map.get($breakpoints, "xs")) {
    @content;
  }
}

@mixin sm {
  @media (min-width: map.get($breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media (min-width: map.get($breakpoints, "md")) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map.get($breakpoints, "lg")) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map.get($breakpoints, "xl")) {
    @content;
  }
}

// min breakpoint callback
@mixin min-bp($bp: 0) {
  @media (min-width: $bp) {
    @content;
  }
}

// max breakpoint callback
@mixin max-bp($bp: 0) {
  @media (max-width: $bp) {
    @content;
  }
}

@mixin mobile {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

// grid

// @mixin

// .responsive-test {
//   @include xs {
//     color: red;
//   }
//   @include sm {
//     color: blue;
//   }
//   @include md {
//     color: green;
//   }
//   @include lg {
//     color: purple;
//   }
//   @include xl {
//     color: orange;
//   }
//   @include breakpoint(1400px) {
//     color: pink;
//   }
// }
