@use "variables" as *;
@use "sass:math";
@use "sass:map";

$utilities: (
  "padding": (
    "prefix": "p",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "padding-left": (
    "prefix": "pl",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "padding-right": (
    "prefix": "pr",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "padding-top": (
    "prefix": "pt",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "padding-bottom": (
    "prefix": "pb",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "margin": (
    "prefix": "m",
    "values": (
      "-auto": "auto",
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
      "n1": $base-margin * -1,
      "n2": $base-margin * -2,
      "n3": $base-margin * -4,
      "n4": $base-margin * -8,
    ),
  ),
  "margin-left": (
    "prefix": "ml",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
      "n1": $base-margin * -1,
      "n2": $base-margin * -2,
      "n3": $base-margin * -4,
      "n4": $base-margin * -8,
    ),
  ),
  "margin-right": (
    "prefix": "mr",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
      "n1": $base-margin * -1,
      "n2": $base-margin * -2,
      "n3": $base-margin * -4,
      "n4": $base-margin * -8,
    ),
  ),
  "margin-top": (
    "prefix": "mt",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
      "n1": $base-margin * -1,
      "n2": $base-margin * -2,
      "n3": $base-margin * -4,
      "n4": $base-margin * -8,
    ),
  ),
  "margin-bottom": (
    "prefix": "mb",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
      "6": $base-margin * 16,
      // "6": $base-margin * 12,
      "n1": $base-margin * -1,
      "n2": $base-margin * -2,
      "n3": $base-margin * -4,
      "n4": $base-margin * -8,
    ),
  ),

  "opacity": (
    "prefix": "o",
    "values": (
      "10": 0.1,
      "20": 0.2,
      "30": 0.3,
      "40": 0.4,
      "50": 0.5,
      "60": 0.6,
      "70": 0.7,
      "80": 0.8,
      "90": 0.9,
      "100": 1,
    ),
  ),
  "border-radius": (
    "prefix": "br",
    "values": (
      //default is 5px
      "default": $base-border-radius,
      "none": 0,
      "10": $base-border-radius * 2,
      "15": $base-border-radius * 3,
      "20": $base-border-radius * 4,
      "30": $base-border-radius * 5,
      "40": $base-border-radius * 6,
      "50": $base-border-radius * 7,
      "60": $base-border-radius * 8,
      "full": 50%,
    ),
  ),
  "display": (
    "prefix": "dp",
    "values": (
      "n": none,
      "b": block,
      "f": flex,
      "i": inline,
      "ib": inline-block,
      "if": inline-flex,
      "g": grid,
    ),
  ),
  "font-size": (
    "prefix": "fs",
    "values": (
      "sm": $font-size-sm,
      "md": $base-font-size,
      "lg": $font-size-lg,
      "xl": $font-size-xl,
      "xxl": $font-size-xxl,
      "ivxl": $font-size-xxl * 1.5,
      "vxl": $font-size-xxl * 2,
      "vixl": $font-size-xxl * 3,
    ),
  ),
  "font-weight": (
    "prefix": "fw",
    "values": (
      "thin": 100,
      "light": 300,
      "regular": 400,
      "medium": 500,
      "bold": 700,
      "black": 900,
    ),
  ),
  "text-decoration": (
    "prefix": "td",
    "values": (
      "n": none,
      "u": underline,
      "o": overline,
      "lt": line-through,
    ),
  ),
  "list-style-type": (
    "prefix": "lst",
    "values": (
      "n": none,
      "d": disc,
      "c": circle,
      "s": square,
      "dnum": decimal,
      "rl": roman,
    ),
  ),
  // "size": (
  //   "prefix": "sz",
  //   "values": (
  //     "10": 10px,
  //     "20": $base-font-size,
  //     "25": $base-font-size,
  //     "30": $font-size-lg,
  //     "40": $font-size-xl,
  //     "50": $font-size-xxl,
  //   ),
  // ),
  // added temporarily for dev shii
  "cursor": (
      "prefix": "cs",
      "values": (
        "p": pointer,
      ),
    ),
  "border": (
    "prefix": "bd",
    "values": (
      "w": 1px solid #d3d3d3,
      "b": 1px solid #000000,
    ),
  ),
  "text-align": (
    "prefix": "ta",
    "values": (
      "c": center,
    ),
  ),
  "flex-direction": (
    "prefix": "fd",
    "values": (
      "r": row,
      "rr": row-reverse,
      "c": column,
      "cr": column-reverse,
    ),
  ),
  "justify-content": (
    "prefix": "jc",
    "values": (
      "s": start,
      "e": end,
      "c": center,
      "sb": space-between,
      "sa": space-around,
      "se": space-evenly,
    ),
  ),

  "align-content": (
    "prefix": "ac",
    "values": (
      "s": start,
      "e": end,
      "c": center,
      "sb": space-between,
      "sa": space-around,
      "se": space-evenly,
      "st": stretch,
    ),
  ),

  "place-items": (
    "prefix": "pi",
    "values": (
      "s": start,
      "e": end,
      "c": center,
      "st": stretch,
    ),
  ),

  "align-items": (
    "prefix": "ai",
    "values": (
      "s": start,
      "e": end,
      "c": center,
      "st": stretch,
      "b": baseline,
    ),
  ),

  "align-self": (
    "prefix": "as",
    "values": (
      "s": start,
      "e": end,
      "c": center,
      "st": stretch,
      "b": baseline,
    ),
  ),

  "justify-items": (
    "prefix": "ji",
    "values": (
      "s": start,
      "e": end,
      "c": center,
      "st": stretch,
    ),
  ),

  "justify-self": (
    "prefix": "js",
    "values": (
      "s": start,
      "e": end,
      "c": center,
      "st": stretch,
    ),
  ),
  "gap": (
    "prefix": "gp",
    "values": (
      "5": 5px,
      "10": 10px,
      "15": 15px,
      "20": 20px,
      "25": 25px,
      "30": 30px,
      "35": 35px,
      "40": 40px,
      "45": 45px,
      "50": 50px,
      "60": 60px,
      "70": 70px,
      "80": 80px,
      "90": 90px,
      "100": 100px,
    ),
  ),
  "width": (
    "prefix": "w",
    "values": (
      "5px": 5px,
      "10px": 10px,
      "15px": 15px,
      "20px": 20px,
      "25px": 25px,
      "30px": 30px,
      "35px": 35px,
      "40px": 40px,
      "45px": 45px,
      "50px": 50px,
      "55px": 55px,
      "60px": 60px,
      "65px": 65px,
      "70px": 70px,
      "75px": 75px,
      "80px": 80px,
      "85px": 85px,
      "90px": 90px,
      "95px": 95px,
      "100px": 100px,
      "150px": 150px,
      "200px": 200px,
      "250px": 250px,
      "300px": 300px,
      "350px": 350px,
      "5": 5%,
      "10": 10%,
      "15": 15%,
      "20": 20%,
      "25": 25%,
      "30": 30%,
      "35": 35%,
      "40": 40%,
      "45": 45%,
      "50": 50%,
      "55": 55%,
      "60": 60%,
      "65": 65%,
      "70": 70%,
      "75": 75%,
      "80": 80%,
      "85": 85%,
      "90": 90%,
      "95": 95%,
      "100": 100%,
      "100vw": 100vw,
    ),
  ),
  "height": (
    "prefix": "h",
    "values": (
      "5px": 5px,
      "10px": 10px,
      "15px": 15px,
      "20px": 20px,
      "25px": 25px,
      "30px": 30px,
      "35px": 35px,
      "40px": 40px,
      "45px": 45px,
      "50px": 50px,
      "55px": 55px,
      "60px": 60px,
      "65px": 65px,
      "70px": 70px,
      "75px": 75px,
      "80px": 80px,
      "85px": 85px,
      "90px": 90px,
      "95px": 95px,
      "100px": 100px,
      "5": 5%,
      "10": 10%,
      "15": 15%,
      "20": 20%,
      "25": 25%,
      "30": 30%,
      "35": 35%,
      "40": 40%,
      "45": 45%,
      "50": 50%,
      "55": 55%,
      "60": 60%,
      "65": 65%,
      "70": 70%,
      "75": 75%,
      "80": 80%,
      "85": 85%,
      "90": 90%,
      "95": 95%,
      "100": 100%,
      "100vh": 100vh,
    ),
  ),
);

// generate utility classes
@each $property, $map in $utilities {
  $prefix: map.get($map, "prefix");
  $values: map.get($map, "values");

  @each $k, $v in $values {
    @if ($k == "default") {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }
}

// @each $utility, $values in $utilities {
//   @each $key, $value in $values {
//     .#{$utility}-#{$key} {
//       #{$utility}: #{$value};
//     }
//   }
// }
