$themes: (
  "dark": (
    "primary": rgb(25, 27, 28),
    "secondary": rgb(28, 30, 32),
    "accent": rgb(0, 130, 159),
    "neutral": rgb(31, 33, 37),
    "foreground": rgb(243, 243, 243),
    "foreground-soft": rgba(243, 243, 243, 0.2),
    // "foreground": #f3f3f3,
    "shimmer-placeholder": rgb(31, 33, 36),
    // "tertiary": rgb(36, 38, 41),
     // "accent": #3b60e4,
  ),
  "light": (
    "primary": #fcfcfc,
    "tertiary": #e3eef0,
    "secondary": #c7d8de,
    // "tertiary": #f5f5f5,
    "neutral": #abc1cd,
    "accent": rgb(0, 130, 159),
    // "contrast": #8dd6f959,
    // "foreground": #141216,
    "foreground": black,
    "foreground-soft": rgba(0, 0, 0, 0.2),
  ),
);

$colors: (
  "info": #326dee,
  "warn": #f6c31c,
  "progress": #f97316,
  "error": #d32752,
  "tip": #1ac886,
  "black": black,
  "white": white,
  "lightgray": #d3d3d3,
  "save": #16a34a,

  // mac colors
  "mac-red": #ff5f57,
  "mac-yellow": #ffbd2e,
  "mac-green": #28c840,
  "mac-blue": #007aff,
);

$breakpoints: (
  "xs": 0,
  "sm": 475px,
  "md": 640px,
  "lg": 760px,
  "xl": 1024px,
  "xxl": 1536px,
);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 5px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-md: $base-font-size * 1.2;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
