$themes: (
  "dark": (
    "primary": rgb(25, 27, 28),
    "secondary": rgb(28, 30, 32),
    "neutral": rgb(31, 33, 37),
    "accent": rgb(0, 130, 159),
    "foreground": #f3f3f3,
    // "tertiary": rgb(36, 38, 41),
     // "accent": #3b60e4,
  ),
  "light": (
    "primary": #fcfcfc,
    "secondary": #e3eef0,
    "tertiary": #f5f5f5,
    "neutral": rgb(230, 230, 230),
    "accent": rgb(0, 130, 159),
    // "contrast": #8dd6f959,
    // "foreground": #141216,
    "foreground": black,
  ),
);

$colors: (
  "info": #326dee,
  "warn": #f6c31c,
  "error": #d32752,
  "tip": #1ac886,
  "black": black,
  "white": white,
  "lightgray": #d3d3d3,
);

$breakpoints: (
  "xs": 0,
  "sm": 475px,
  "md": 640px,
  "lg": 760px,
  "xl": 1024px,
  "xxl": 1536px,
);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 5px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-md: $base-font-size * 1.2;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
