// document element data attiribute is being toggled
// so the changes cascades to all child and ddescendants

@use "../abstracts/mixins" as *;

// INFO: to override chrome's weird default hover/bg mobile where
// taps triggers the hover effect which in chrome changes
// the bg of a btn, which is prob not ideal most of the time.
%override-mobile-hover {
  @include mobile {
    &:hover {
      -webkit-tap-highlight-color: transparent !important;
      background-color: transparent !important;
    }
  }
}

[data-theme="dark"] {
  .feature-card {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0px -2px 4px rgba(255, 255, 255, 0.1);
  }
}

[data-theme="light"] {
  .btn-dark-accent {
    color: #fff !important;
  }

  .btn-outlined-dark-accent:hover {
    color: #fff !important;
  }

  nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1) !important;
  }
  .feature-card {
    border-top: none;
    // background-color: #fff;  // Ensure the card itself is light
    // border-radius: 8px;
    // box-shadow: 2 2px 4px rgba(0, 0, 0, 0.1);
    // 0 8px 16px rgba(0, 0, 0, 0.1);
    box-shadow:
      2px 2px 4px rgba(0, 0, 0, 0.1),
      4px 8px 16px rgba(0, 0, 0, 0.1);
  }

  // .feature-card:hover {
  //   box-shadow:
  //     0 4px 8px rgba(0, 0, 0, 0.15),
  //     0 12px 24px rgba(0, 0, 0, 0.15);
  // }
}

nav {
  background-color: var(--primary);
  color: var(--foreground);

  // .logo-name {
  // color: var(--accent);
  // color: ;
  // }

  .dev-icons {
    // fill: var(--accent);
    fill: var(--foreground);
  }

  .nav-menu-btn-close,
  .nav-menu-btn-open {
    background-color: transparent;
    @extend %override-mobile-hover;
  }

  .menu-icon,
  .close-icon {
    fill: var(--foreground) !important;
    // filter: brightness(0) invert(1);
  }

  // @include xl {
  //   button:hover {
  //   }
  // }
  // .signup-btn {
  //   color: var(--foreground);
  //   background-color: transparent;
  //   border: 1px solid var(--accent);
  // }
  //
  // .login-btn {
  //   color: var(--foreground);
  //   background-color: var(--accent);
  // }

  // INFO: small screen nav popup
  .nav-menu-popup {
    background: color-mix(in srgb, var(--primary) 60%, transparent);
  }

  .nav-link {
    color: var(--foreground);

    &:hover {
      color: var(--accent);
    }
  }
}

// ---------------------------------------

body {
  background-color: var(--primary);
  color: var(--foreground);
  .hero {
    // background-color: var(--secondary);

    // &-links {
    //   :nth-child(1) {
    //     border: 1px solid var(--accent);
    //     background-color: var(--primary);
    //   }
    //
    //   a {
    //     color: var(--foreground);
    //     background-color: var(--accent);
    //   }
    // }
  }

  main {
    h1 {
      // color: var(--accent);
    }

    span {
      color: var(--accent);
    }

    section .feature-card {
      background-color: var(--secondary);

      & > div {
        border-left: none;

        @include xl {
          border-left: 4px solid var(--accent);
        }
      }

      h2 {
        color: var(--accent);
      }
    }

    section.impact {
      background: linear-gradient(
        180deg,
        var(--primary) 0%,
        // rgb(0, 193, 174) 0%,
        // rgb(0, 165, 191) 20%,
        // rgb(0, 108, 166) 40%,
        var(--primary-light-1) 10%,
        var(--primary) 80%
      );
    }
  }
}

// ---------------------------------------

// .sidebar {
//   background-color: var(--secondary);
//   // color:;
//
//   .sidebar-item-title {
//     color: var(--accent);
//   }
//
//   .sidebar-item-branches::before {
//     border-left: 1px dashed var(--sidebar-tree);
//   }
//
//   .sidebar-item-branch::before {
//     border-top: 1px dashed var(--sidebar-tree);
//   }
// }

// ---------------------------------------

footer {
  border-top: 1px solid var(--accent);
  // color:;
  .c-notice {
    color: gray;
    font-size: 12px;
  }

  .dev-icons {
    // fill: var(--accent);
    fill: var(--foreground) !important;
  }
}

// will be used throughout the app
.gradient-text {
  background-image: linear-gradient(
    to right bottom,
    rgb(0, 193, 174),
    rgb(0, 165, 191),
    rgb(0, 108, 166)
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

.gradient-border {
  position: relative;
  // display: inline-block;
  // padding: 10px 20px;
  // border-radius: 8px;
  background: linear-gradient(
    to right,
    rgb(0, 193, 174),
    rgb(0, 165, 191),
    rgb(0, 108, 166)
  );
  -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // background: none;
  // color: white;
}

.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 1px; /* Border thickness */
  background: linear-gradient(
    to right,
    rgb(0, 193, 174),
    rgb(0, 165, 191),
    rgb(0, 108, 166)
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.gradient-border-1 {
  border: 5px solid transparent; /* Transparent border to preserve space */
  border-image: linear-gradient(
      to right,
      rgb(0, 193, 174),
      rgb(0, 165, 191),
      rgb(0, 108, 166)
    )
    1;
}

// .gradient-border::before {
//   content: "";
//   position: absolute;
//   inset: 0;
//   border-radius: 8px;
//   padding: 3px; /* Border thickness */
//   background: linear-gradient(
//     to right,
//     rgb(0, 193, 174),
//     rgb(0, 165, 191),
//     rgb(0, 108, 166)
//   );
//   -webkit-mask:
//     linear-gradient(#fff 0 0) content-box,
//     linear-gradient(#fff 0 0);
//   -webkit-mask-composite: xor;
//   mask-composite: exclude;
// }
