@use "../abstracts/mixins" as *;

#notification-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10001;
  // margin-bottom: 15px;
  max-width: 350px;
}

.notification:not(:first-child) {
  margin-top: 12px;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  // outline: 1px solid blue; /* Debug border */
  min-width: 90px;
  height: 70px;
  padding: 12px 16px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  opacity: 0;
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-out;

  @include md {
    min-width: 120px !important;
  }
  @include xl {
    min-width: 180px !important;
  }

  &.show {
    transform: translateX(0);
    opacity: 1;
  }

  &.hide {
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }

  &.no-animation {
    transition: none !important;
    opacity: 1 !important;
    transform: none !important;
  }

  // Notification Colors

  &.gradient {
    background: linear-gradient(
      to right bottom,
      rgb(0, 193, 174),
      rgb(0, 165, 191),
      rgb(0, 108, 166)
    );
  }

  &.success {
    background: #4caf50;
  }

  &.error {
    background: #f44336;
  }

  &.warning {
    background: #ffc107;
  }

  &.info {
    background: #2196f3;
  }
}
