body[data-page="login"],
body[data-page="signup"] {
  .auth-filler-bg {
    background-color: var(--neutral) !important;
  }
  .theme-btn {
    &.light {
      &:hover {
        .moon {
          fill: black !important;
        }
      }
      .moon {
        display: block !important;
        fill: var(--accent) !important;
      }
      .sun {
        display: none;
      }
    }

    &.dark {
      &:hover {
        .sun {
          fill: var(--accent) !important;
        }
      }

      .moon {
        display: none !important;
      }

      .sun {
        display: block !important;
      }
    }

    svg.moon,
    svg.sun {
      transition: fill 0.5s ease !important;
    }
  }
  .nav-menu-btn-open {
    justify-self: flex-end;

    &.clicked {
      display: none;
    }
  }
}

// TODO: ?? prob add a condition on colors that when bg === accent make the text auto white so that i dont have to manually do it on all elem

[data-theme="dark"] {
  body[data-page="login"],
  body[data-page="signup"] {
    .signup-link,
    .login-link {
      color: white;
    }
  }
}

[data-theme="light"] {
  body[data-page="login"],
  body[data-page="signup"] {
    form {
      background-color: var(--secondary) !important;

      .input-box {
        border-bottom: 1px solid black !important;

        input {
          color: black !important;
        }
      }

      // input {
      //   color: black !important;
      // }

      .signup-link,
      .login-link {
        color: black;
      }

      .visib-on,
      .sun,
      .moon,
      .visib-off {
        fill: black !important;
      }
    }

    .right-auth {
      h1 {
        color: #fff;
      }
    }
  }
}

[data-theme="dark"] {
  body[data-page="login"],
  body[data-page="signup"] {
    form {
      // background-color: var(--secondary) !important;
      border-top: 1px solid rgba(255, 255, 255, 0.4);
      box-shadow: 0px -2px 4px rgba(255, 255, 255, 0.1);
    }
  }
}
