@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body[data-page="concerns"],
.concerns-container {
  .concerns-box {
    background-color: var(--secondary);

    .concern-popup-header {
      background: var(--neutral-light-1);
    }

    .concern-view-controls {
      // box-shadow: 0 1px 0 0 var(--foreground);

      .concern-status {
        border-bottom: 1px solid var(--foreground);

        &::before {
          background-color: var(--accent);
        }

        // &.pending-selected {
        //   &.selected::before {
        //   }
        // }
        //
        // &.in-progress-selected {
        //   &.selected::before {
        //   }
        // }
        //
        // &.resolved-selected {
        //   &.selected::before {
        //   }
        // }
      }
    }
  }

  form {
    background-color: var(--secondary);

    .form-body {
      textarea {
        color: var(--foreground);
        caret: var(--foreground);
        background-color: var(--secondary);
      }
    }
  }

  .more-popup {
    background-color: var(--secondary);

    & > ul > li {
      &:hover:not(.del) {
        background-color: var(--accent);
        // background-color: gray;
      }
    }
    li.del:hover {
      border: 1px solid red;
    }
  }
}

.status-details-popup {
  background-color: var(--secondary);

  textarea {
    resize: none;
    background-color: var(--primary);
    color: var(--foreground);
    padding: 12px;
    outline: none;
  }

  .delete-status {
    border: $base-border-thickness solid red;
    background-color: transparent;
    color: red;
    &:hover {
      background-color: red;
      color: var(--foreground);
    }
  }
}

[data-theme="dark"] {
  body[data-page="concerns"] {
    // .form-header {
    // border-bottom: 1px solid white;
    // }

    .form-body {
      textarea {
        border: 1px solid rgba(255, 255, 255, 0.6);
      }
    }
  }
}

[data-theme="light"] {
  body[data-page="concerns"] {
    // .form-header {
    // border-bottom: 1px solid black;
    // }

    .form-body {
      textarea {
        border: 1px solid rgba(0, 0, 0, 0.6) !important;
      }
    }
  }
}
