@use "../abstracts/mixins" as *;

body[data-page="events"] {
  .caption,
  .prev,
  .next {
    color: var(--foreground);
  }
}

[data-theme="dark"] {
  body[data-page="events"] {
    main,
    header {
      background-color: var(--secondary) !important;
    }

    .slides > img {
      border: 30px solid var(--neutral-light-1) !important;
      border-bottom: 75px solid var(--neutral-light-1) !important;
    }

    @include max-bp("514px") {
      .slides > img {
        border: 0 !important;
      }
    }
  }
}

[data-theme="light"] {
  body[data-page="events"] {
    .slideshow-container {
      background-color: var(--primary) !important;
    }

    .slides > img {
      outline: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
      border: 30px solid white !important;
      border-bottom: 75px solid white !important;
    }

    @include max-bp("514px") {
      .slides > img {
        border: 0 !important;
      }
    }
  }
}
