body[data-page="home"] {
  // .slides,
  // .slideshow,
  // .slides-container {
  //   border: 0 !important;
  //
  //   img {
  //     border: 0 !important;
  //   }
  // }
  .caption {
    color: var(--primary);
  }
}

[data-theme="dark"] {
  body[data-page="home"] {
    .card {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      // box-shadow: 0px -2px 4px rgba(255, 255, 255, 0.1);
      // background-color: var(--secondary);
    }

    .slides img {
      border: 2px solid gray !important;
      // border: 2px solid var(--accent) !important;
    }

    section.services {
      // background-color: var(--tertiary);
    }
  }
}

[data-theme="light"] {
  body[data-page="home"] {
    border-top: none;

    section.events {
      background-color: var(--secondary);
    }

    section.services {
      background-color: var(--tertiary);
    }

    svg:not(.default) {
      fill: black;
    }
  }
}
