@use "../abstracts/mixins" as *;

body[data-page="profile"] {
  // background-color: var(--accent);

  .profile-container {
    .upper-container,
    .lower-container {
      background-color: var(--secondary);
      color: var(--foreground);
    }
  }

  #sidebar {
    background-color: var(--neutral);

    .hide-sidebar-wrapper {
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

    li > button {
      transition: color 0.2s ease;

      // &:hover {
      //   color: var(--accent);
      //   svg:not(.def) {
      //     fill: var(--accent);
      //   }
      // }

      &.selected {
        transition: none !important;
        background-color: var(--accent) !important;
        // &:hover {
        //   color: var(--foreground) !important;
        //
        //   svg:not(.def) {
        //     fill: var(--foreground) !important;
        //   }
        // }
      }
    }
  }

  // USERBASE TABLE
  .user-table {
    thead {
      background-color: var(--secondary) !important;
    }

    tbody {
      tr {
        background-color: var(--neutral) !important;

        // &:nth-of-type(odd) {
        //   background-color: var(--neutral-dark-1) !important;
        // }
      }
    }
  }

  // SLIDESHOWS

  .slideshows-control-container {
    background-color: var(--secondary);
  }

  .slideshow-container {
    background-color: var(--secondary);
    // border: 1px solid var(--foreground);
  }
}

[data-theme="dark"] {
  profile-container {
    .upper-container,
    .lower-container {
      border-top: 1px solid rgba(255, 255, 255, 0.4);
      box-shadow: 0px -2px 4px rgba(255, 255, 255, 0.1);
    }
  }

  #sidebar {
    // li > button:hover {
    //   background-color: gray !important;
    // }
  }

  // USERBASE TABLE ;
  .user-table > tbody > tr {
    &:nth-of-type(odd) {
      background-color: var(--neutral-light-1) !important;
    }
  }

  // SLIDESHOWS
  .slides > img {
    border: 20px solid var(--neutral-light-1) !important;
    border-bottom: 45px solid var(--neutral-light-1) !important;
  }

  .prev,
  .next {
    color: var(--foreground);
  }
}

[data-theme="light"] {
  // PROFILE
  profile-container {
    .upper-container,
    .lower-container {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
    }
  }

  button > .profile-expand-icon {
    fill: black !important;
  }

  // SIDEBAR

  #sidebar {
    background-color: var(--tertiary) !important;

    .hide-sidebar-wrapper {
      border-bottom: 1px solid rgba(0, 0, 0, 0.9) !important;
    }

    .sidebar-shrink-icon,
    .sidebar-items > button > svg:not(.def) {
      fill: black !important;
    }

    // li > button:hover {
    //   background-color: var(--secondary) !important;
    // }
  }

  // USERBASE TABLE ;
  .user-table > tbody > tr {
    &:nth-of-type(odd) {
      background-color: var(--neutral-dark-1) !important;
    }
  }

  // SLIDESHOWS
  .slides > img {
    border: 20px solid white !important;
    border-bottom: 45px solid white !important;
  }
}
