@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../layout/nav" as *;

body[data-page="profile"] {
  @include mobile {
    min-height: 100dvh !important;
  }

  table {
    width: 100%;
  }

  .table-wrapper {
    width: min(90%, 1400px);
  }

  .table-controls {
    flex-wrap: wrap;
    p {
      margin-right: auto;
    }
  }

  th,
  td {
    text-align: center;
    padding: 8px;

    input {
      width: 100%;
      border: none;
      text-align: center;
      font: inherit;

      &:focus {
        outline: none;
      }
    }
  }

  @include max-bp("500px") {
    td input,
    th input {
      font-size: 0.8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  tr {
    position: relative !important;

    svg.del-icon {
      position: absolute !important;
      right: -35px;
      @include max-bp("450px") {
        right: -28px;
      }
      top: 50%;
      transform: translateY(-50%); /* To adjust the icon vertically if needed */
    }
  }
}
