body[data-page="profile"] {
  .user-table {
    height: auto;
    margin-inline: auto;
    width: min(100%, 1000px);
    table-layout: fixed;

    th,
    td {
      padding: 12px 15px;
      font-weight: bold;
    }
  }
}
