%footer-layout {
  display: grid;
  place-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-top: 30px;
}

footer {
  // position: absolute;
  // bottom: 0;
  @extend %footer-layout;

  .socials {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    gap: 20px;

    .dev-icons {
      display: inline-block;
      width: 30px;
      fill: white;
    }
  }
  .c-notice {
    font-size: 14px;
  }
}
