%footer-layout {
  display: grid;
  place-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
  // margin-top: 30px;
}

[data-theme="light"] {
  footer {
    background-color: var(--tertiary) !important;
    box-shadow: none !important;
    border-top: none !important;
  }
}

footer {
  // position: absolute;
  // bottom: 0;
  box-shadow: 0px -2px 4px rgba(0, 130, 159, 0.1);
  @extend %footer-layout;

  .socials {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    gap: 20px;

    .dev-icons {
      display: inline-block;
      width: 30px;
      fill: white;
    }
  }
  .c-notice {
    font-size: 14px;
  }
}
