@use "../abstracts/mixins" as *;

%footer-layout {
  display: grid;
  place-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  // width: 100%;
  // margin-top: 30px;
}

[data-theme="light"] {
  footer {
    background-color: var(--tertiary) !important;
    box-shadow: none !important;
    // border-top: none !important;
  }
}

footer {
  @extend %footer-layout;

  .socials {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    .dev-icons {
      display: inline-block;
      width: 30px;
      fill: white;
    }
  }
  .c-notice {
    font-size: 14px;
  }
}
