@use "../abstracts/mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// used also by sidebar.sccs and home.scss for adjustment
$nav-height: 55px;

nav {
  display: grid;
  // display: none;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  // yeah these two are actually needed crazy
  align-items: center;
  align-content: center;
  gap: 0.75rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  max-width: 100vw;
  height: $nav-height;
  border-bottom: 1px solid rgba(250, 250, 250, 0.09);

  .logo-container {
    align-items: center;
    display: flex;
    gap: 15px;
    font-family: Poppins, sans-serif;
  }

  .logo,
  .close-icon {
    width: 30px;
  }

  &:is(button, input):focus {
    outline: none;
  }

  .nav-menu-btn-open {
    justify-self: flex-end;

    // img {
    //   width: 35px;
    // }

    &.clicked {
      display: none;
    }
  }
}

.nav-menu-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: fixed;
  inset: 0;
  backdrop-filter: blur(10px);
  z-index: 9999;
  visibility: hidden;
  &.open {
    visibility: visible;
  }

  .nav-menu-btn-close {
    align-self: flex-end;
    height: 55px;
  }

  .menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-25px) scale(0.95);
    opacity: 0;
    transition:
      transform 0.3s ease-out,
      opacity 0.3s ease-out;

    &.animate {
      transform: translateY(0) scale(1);
      opacity: 1;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;

      :nth-last-child(1) {
        margin-bottom: 20px;
      }

      li {
        text-align: center;
        list-style-type: none;

        a {
          text-decoration: none;
        }
      }
    }

    .dev-icons {
      width: 30px;
      fill: white;
      cursor: pointer;
    }
  }
}

// some defaults on larger screens are quite small on mobiles thus:
@include mobile() {
  nav {
    height: 67px !important;

    .logo,
    .menu-icon,
    .close-icon {
      width: 40px !important;
    }

    // acting as nav when menu popup is open thus the height
    .nav-menu-btn-close {
      height: 67px !important;
    }
  }
}
