@use "../abstracts/mixins" as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// exported in gen-styles for cross pages for adujstment
$nav-height: 70px;

nav {
  display: flex;
  // grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  // max-width: 100vw !important;
  // max-width: 1300px;
  height: $nav-height;
  border-bottom: 1px solid rgba(250, 250, 250, 0.1);
  // @include webkit {
  //   border-bottom: 1px solid rgba(250, 250, 250, 0.3);
  // }

  // // this selects all inputs and btns if they exist
  // &:is(button, input) {
  //   &:focus {
  //     outline: none !important;
  //   }
  //
  //   // hover effect is triggered by tap on mobiles
  //   // this removes it.
  //   @include mobile {
  //     &:hover {
  //       -webkit-tap-highlight-color: transparent;
  //       background-color: transparent !important;
  //     }
  //   }
  // }

  .nav-auth-container {
    display: none;
  }

  // links for large screens (initially hidden)
  .nav-links {
    display: none;

    .nav-link-dropdown {
      width: 90px;
      border: none;
      cursor: pointer;
      // &:focus {
      //   // border-color: red !important;
      //   // border: 1px solid red !important;
      //
      //   border: 1px solid transparent; /* Transparent border to preserve space */
      //   border-image: linear-gradient(
      //       to right,
      //       rgb(0, 193, 174),
      //       rgb(0, 165, 191),
      //       rgb(0, 108, 166)
      //     )
      //     1;
      // }

      &::-ms-expand {
        // Hide default dropdown arrow in IE
        display: none !important;
      }
    }
  }
}

.nav-menu-btn-open.clicked {
  display: none;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;

  .logo-name {
    line-height: normal;
    margin-bottom: -1px;
  }
}

.theme-btn {
  @include mobile {
    -webkit-tap-highlight-color: transparent !important;
  }

  svg.moon,
  svg.sun {
    transition: fill 0.5s ease !important;
  }
  .moon {
    display: none;
  }

  &.light {
    &:hover {
      .moon {
        fill: black !important;
      }
    }
    .moon {
      display: block !important;
      fill: var(--accent) !important;
    }
    .sun {
      display: none;
    }
  }

  &.dark {
    &:hover {
      .sun {
        fill: var(--accent) !important;
      }
    }

    .moon {
      display: none !important;
    }

    .sun {
      display: block !important;
    }
  }
}

// INFO: the popup on sm screens

.nav-menu-popup {
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: fixed;
  inset: 0;
  z-index: 9999;
  visibility: hidden;
  &.open {
    visibility: visible;
  }

  .nav-menu-btn-close {
    align-self: flex-end;
    height: 70px;
  }

  .menu-content {
    // border: 1px solid white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: top;
    transform: translateY(-25px) scale(0.95);
    opacity: 0;
    transition:
      transform 0.25s ease-in-out,
      opacity 0.25s ease-in-out;
    &.animate {
      transform: translateY(0) scale(1);
      opacity: 1;
    }

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      :nth-last-child(1) {
        margin-bottom: 40px;
      }

      li {
        text-align: center;
        list-style-type: none;

        a {
          text-decoration: none;
        }
      }
    }

    .login-link-mobile,
    .signup-link-mobile {
      width: min(90%, 550px);
    }

    .dev-icons {
      width: 30px;
      cursor: pointer;
    }
  }
}

// some defaults on larger screens are quite small on mobiles so:
@include mobile() {
  nav {
    // height: 67px !important;

    .menu-icon,
    .dev-icons,
    .close-icon {
      width: 35px !important;
    }

    // aligning to nav height
    .nav-menu-btn-close {
      height: 67px !important;
    }
  }
}

@include xl {
  nav {
    // changed to grid cause nav-links is at bottom of the html structure
    // so that it can be inserted as second elem in nav
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo links theme action";
    align-content: center;

    // hide mobile-only elements on xl screens
    .nav-menu-btn-open,
    .nav-menu-popup {
      display: none;
    }

    .logo-container {
      grid-area: logo;
    }

    .nav-links {
      grid-area: links;
      justify-self: center;
      display: flex;
      gap: 34px;
    }

    .theme-btn {
      grid-area: theme;
    }

    // both nav-auth continer and profile
    // has grid area action to put them in that grid cell
    // whichever is available based on session status
    .nav-auth-container {
      grid-area: action;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .profile {
      grid-area: action;
      display: block !important;
    }

    .signup-link,
    .login-link {
      text-align: center;
      display: block;
      width: 100px;
    }

    a {
      text-decoration: none;
    }
  }
}
