body[data-page="profile"] {
  .user-table {
    thead {
      background-color: var(--secondary) !important;
    }

    tbody {
      tr {
        background-color: var(--neutral) !important;

        // &:nth-of-type(odd) {
        //   background-color: var(--neutral-dark-1) !important;
        // }
      }
    }
  }
  .user-table > tbody > tr {
    &:nth-of-type(odd) {
      background-color: var(--neutral-dark-1) !important;
    }
  }
}

[data-theme="light"] {
  #user-search-input {
    border: 1px solid black !important;
  }
}

[data-theme="dark"] {
  body[data-page="profile"] {
    #user-search-input {
      background-color: var(--secondary);
      border: 1px solid rgb(255 255 255 / 0.2) !important;
      color: white;
      caret-color: white;
    }

    .user-table > tbody > tr {
      &:nth-of-type(odd) {
        background-color: var(--neutral-light-1) !important;
      }
    }
  }
}
