@use "../abstracts/mixins" as *;

body[data-page="profile"] {
  // background-color: var(--accent);

  .profile-container {
    .upper-container,
    .lower-container {
      background-color: var(--secondary);
      color: var(--foreground);
    }
  }

  #sidebar {
    background-color: var(--neutral);

    .hide-sidebar-wrapper {
      border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

    li > button {
      transition: color 0.2s ease;

      // &:hover {
      //   color: var(--accent);
      //   svg:not(.def) {
      //     fill: var(--accent);
      //   }
      // }

      &.selected {
        transition: none !important;
        background-color: var(--accent) !important;
        // &:hover {
        //   color: var(--foreground) !important;
        //
        svg:not(.def) {
          // svg {
          fill: white !important;
        }

        svg.def {
          stroke: white !important;
        }
        span {
          color: white !important;
        }
      }
    }
  }
}

[data-theme="dark"] {
  profile-container {
    .upper-container,
    .lower-container {
      border-top: 1px solid rgba(255, 255, 255, 0.4);
      box-shadow: 0px -2px 4px rgba(255, 255, 255, 0.1);
    }
  }

  #sidebar {
    // li > button:hover {
    //   background-color: gray !important;
    // }
  }
}

[data-theme="light"] {
  // PROFILE
  profile-container {
    .upper-container,
    .lower-container {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
    }
  }

  button > .profile-expand-icon {
    fill: black !important;
  }

  // SIDEBAR

  #sidebar {
    background-color: var(--tertiary) !important;

    .hide-sidebar-wrapper {
      border-bottom: 1px solid rgba(0, 0, 0, 0.9) !important;
    }

    .sidebar-shrink-icon,
    .sidebar-items > button > svg:not(.def) {
      fill: black !important;
    }

    // li > button:hover {
    //   background-color: var(--secondary) !important;
    // }
  }

  footer {
    background-color: var(--primary) !important;
  }
}
