<footer class="container">
    <!-- (on Linux term) press Ctrl-Shift-u then type 00a9 and press enter to type copyright symbol -->

    <div class="idk">© 2025 BSCS-2C, EARIST. All rights reserved.</div>
</footer>
