<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SKonnect<%= title ? " - " + title : "" %></title>

    <!--<link-->
    <!--    rel="preload"-->
    <!--    href="app.bundled.css"-->
    <!--    as="style"-->
    <!--    onload="this.rel='stylesheet'"-->
    <!--/>-->
    <link rel="stylesheet" href="app.bundled.css" />
    <!--<style>-->
    <!--    /*avoid white flashing on repeated fast refreshes*/-->
    <!--    html[data-theme="dark"] {-->
    <!--        background-color: rgb(25, 27, 28) !important;-->
    <!--    }-->
    <!--</style>-->

    <!--<noscript><link rel="stylesheet" href="app.bundled.css" /></noscript>-->

    <!--<meta-->
    <!--  http-equiv="Content-Security-Policy"-->
    <!--  content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *;**script-src 'self' http://onlineerp.solution.quebec 'unsafe-inline' 'unsafe-eval';** "-->
    <!--/>-->
</head>
