<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COMSCI Project - <%= title %></title>

    <link rel="stylesheet" href="app.css" />

    <!--<% if (typeof includeHTMX !== "undefined" && includeHTMX) { %>-->
    <!--  <script defer src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.4"></script>-->
    <!--<% } %>-->

    <!--<meta-->
    <!--  http-equiv="Content-Security-Policy"-->
    <!--  content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *;**script-src 'self' http://onlineerp.solution.quebec 'unsafe-inline' 'unsafe-eval';** "-->
    <!--/>-->
</head>
