<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SKonnect<%= title ? " - " + title : "" %></title>

    <!--INFO: this is just so that nav layout loads faster when loggin in and out-->
    <style>
        @media (min-width: 1024px) {
            .nav-right {
                display: flex !important;
                align-items: center !important;
                justify-content: end !important;
                height: 100% !important;
                gap: 12px !important;
            }

            .nav-right > * {
                display: none !important;
            }

            .isLoggedOut .nav-right > .login-link,
            .isLoggedOut .nav-right > .signup-link {
                display: inline-block !important;
            }

            .isLoggedIn .nav-right > .profile {
                display: inline-block !important;
            }
        }
    </style>

    <link rel="stylesheet" href="app.bundled.css" />

    <!--<% if (typeof includeHTMX !== "undefined" && includeHTMX) { %>-->
    <!--  <script defer src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.4"></script>-->
    <!--<% } %>-->

    <!--<meta-->
    <!--  http-equiv="Content-Security-Policy"-->
    <!--  content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *;**script-src 'self' http://onlineerp.solution.quebec 'unsafe-inline' 'unsafe-eval';** "-->
    <!--/>-->
</head>
