<div id="sidebar" class="container">
    <!-- <div class="sidebar-item-container"> -->
    <!--     <div class="sidebar-item sidebar-item-open"> -->
    <!--         <h3> -->
    <!--             <a -->
    <!--                 class="sidebar-item-title cs-p" -->
    <!--                 href="../nvim.html" -->
    <!--             >Neovim</a> -->
    <!--         </h3> -->
    <!---->
    <!--         <ul class="sidebar-item-branches"> -->
    <!--             <li class="sidebar-item-branch"> -->
    <!--                 <a class="cs-p" href="">Subtree level 1</a> -->
    <!--             </li> -->
    <!---->
    <!--             <li class="sidebar-item-branch"> -->
    <!--                 <div class="sidebar-item-branch"> -->
    <!--                     <a class="text- cs-p" href="">Subtree level 1</a> -->
    <!--                 </i> -->
    <!---->
    <!--                 <ul class="sidebar-item-branches"> -->
    <!--                     <li class="sidebar-item-branch"> -->
    <!--                         <a class="" href="">Subtree level 2</a> -->
    <!--                     </li> -->
    <!--                     <li class="sidebar-item-branch"> -->
    <!--                         <a class="" href="">Subtree level 2</a> -->
    <!--                     </li> -->
    <!--                 </ul> -->
    <!--             </li> -->
    <!---->
    <!--             <li class="sidebar-item-branch"> -->
    <!--                 <div class="sidebar-item-branch"> -->
    <!--                     <a class="text- cs-p" href="">Subtree level 1</a> -->
    <!--                 </div> -->
    <!---->
    <!--                 <ul class="sidebar-item-branches"> -->
    <!--                     <li class="sidebar-item-branch"> -->
    <!--                         <a class="" href="">Subtree level 2</a> -->
    <!--                     </li> -->
    <!--                     <li class="sidebar-item-branch"> -->
    <!--                         <a class="" href="">Subtree level 2</a> -->
    <!--                     </li> -->
    <!--                 </ul> -->
    <!--             </li> -->
    <!--         </ul> -->
    <!--     </div> -->
    <!-- </div> -->
</div>
